.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100vh;
}

.contentMainBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    align-items: center;
    width: calc(100vw - 25rem);
}

.contentMain {
    width: -webkit-fill-available;
    flex-grow: 1;
    max-height: calc(100vh - 10rem);
}

@media only screen and (max-width: 768px) {
    .contentMainBox {
        width: 100vw;
    }
}